include:
  - component: gitlab.com/PassiveLogic/ci/commitlint@4
  # - component: gitlab.com/PassiveLogic/ci/swiftlint@4
  # - component: gitlab.com/PassiveLogic/ci/swiftformat@4
  # - component: gitlab.com/PassiveLogic/ci/swift-import-analyzer@4
  - component: gitlab.com/PassiveLogic/ci/swift-api-check@4
    inputs:
      swift-image: registry.gitlab.com/passivelogic/compiler/swift:6.0
      runner-tags:
        - passivelogic-linux-small-arm64
  - component: gitlab.com/PassiveLogic/ci/swift-test@4
    inputs:
      swift-image: registry.gitlab.com/passivelogic/compiler/swift:6.0
      parallel-workers: 1
      enable-code-coverage: false
      additional-setup:
        - apt install -y libcapstone-dev
      runner-tags:
        - passivelogic-compiler-orin
      job-rules:
        - when: always

