variables:
  BENCHMARK_DISABLE_JEMALLOC: true

stages:
  - lint
  - test
  - deploy

include:
  # Lint stage
  - component: gitlab.com/PassiveLogic/ci/commitlint@4
    inputs:
      job-stage: lint
  - component: gitlab.com/PassiveLogic/ci/swiftlint@4
    inputs:
      job-stage: lint
  - component: gitlab.com/PassiveLogic/ci/swiftformat@4
    inputs:
      job-stage: lint
  - component: gitlab.com/PassiveLogic/ci/swift-import-analyzer@4
    inputs:
      job-stage: lint

  # Test stage
  - component: gitlab.com/PassiveLogic/ci/swift-api-check@4
    inputs:
      swift-image: registry.gitlab.com/passivelogic/compiler/swift:6.1
      runner-tags:
        - passivelogic-linux-small-arm64
  - component: gitlab.com/PassiveLogic/ci/swift-test@4.17  # TODO: update to @4 once swift-image 6.2 is available
    inputs:
      swift-image: registry.gitlab.com/passivelogic/compiler/swift:6.1
      enable-code-coverage: false
      additional-setup:
        - apt install -y libcapstone-dev
      runner-tags:
        - passivelogic-compiler-orin
  - component: gitlab.com/PassiveLogic/ci/swift-benchmarks@4
    inputs:
      swift-image: registry.gitlab.com/passivelogic/compiler/swift:6.1
      additional-setup:
        - apt install -y libcapstone-dev

  # Deploy stage
  - component: gitlab.com/PassiveLogic/ci/swift-docs@4
    inputs:
      product-names:
        - SwiftToPTX
      runner-tags:
        - passivelogic-linux-small-amd64
      additional-setup:
        - apt-get -y install wget
        - wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/x86_64/cuda-keyring_1.1-1_all.deb
        - dpkg -i cuda-keyring_1.1-1_all.deb
        - apt-get update
        - apt-get -y install cuda-nvcc-12-6
  - component: gitlab.com/PassiveLogic/ci/swift-dependabot@4
    inputs:
      token: ${SWIFT_DEPENDABOT_TOKEN}
      token-email: ${SWIFT_DEPENDABOT_EMAIL}
      assignee-username: trevor@passivelogic.com

benchmark-orin:
  extends: .run_benchmarks
  tags:
    - passivelogic-compiler-orin

# disable cloud benchmarks
benchmark-cloud:
  rules:
    - when: never

benchmark-upload-cloud:
  rules:
    - when: never

