# file options
--exclude Backends/PTXBackend/icebox

# rules
--disable redundantType # clarity
--disable consecutiveSpaces # alignment

[nofib]
--filter Backends/PTXBackend/Tests/PTXBackendTests/**
--disable wrapAttributes # @Test, @Suite
